@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-area {
    height: calc(100vh - theme("spacing.16") - theme("spacing.2"));
  }

  .hero-image-height {
    height: calc(100vh - 70px);
  }
}

/* ::-webkit-scrollbar {
  width: 8px;
  height: 0px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #666;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
}
